<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->

    <!-- Title -->
    <link rel="logo" href=""> <!--Add logo linked-->
    <title>Logo Detection</title>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/548754e111.js"></script>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div id="app">
        <!-- FOR LOGGED IN PAGES -->
        <!-- Navbar -->
        <!-- !NOTE: Layout for pages in logged in status -->
        <!-- !NOTE: Edit navbar to match logged in status -->
        <nav class="navbar navbar-expand-md navbar-light bg-white">
            <div class="container">
                <a class="navbar-brand">
                    Logo Detection
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left Side Of Navbar -->
                    <ul class="navbar-nav mr-auto">

                    </ul>

                    <!-- Right Side Of Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Authentication Links -->
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Main content -->
        <main style="height: 100vh; background-image: url('https://image.freepik.com/free-vector/elegant-white-background-with-shiny-lines_1017-17580.jpg')">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md bg-white p-3 border mt-3" id="form">
                        <form action="{% url 'demo:index' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h2 class="mb-4">
                                Logo detection
                            </h2>
                            <div class="custom-file mb-3">
                                <script>
                                    $(".custom-file-input").on("change", function() {
                                        var fileName = $(this).val().split("\\").pop();
                                        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                                    });
                                </script>
                                <input type="file" class="custom-file-input" id="customFile" name="file" v-model="image">
                                <label class="custom-file-label" for="customFile">Choose an images</label>
                            </div>
                            <button class="btn btn-primary">
                                <i class="fas fa-search mr-2"></i> Find logos
                            </button>
                        </form>
                    </div>
                </div>
                </p>
                <div class="row justify-content-center">
                    <div class="col-md bg-white p-4 border justify-content-center text-center" id="original">
                        <!-- Result here -->
                        <h3 class="mb-3">
                            Original picture
                        </h3>
                        <img src="{% url 'demo:download' original %}" alt="Original image" style="width: 100%">
                    </div>
                    <div class="col-md bg-white p-4 border justify-content-center text-center" id="result">
                        <!-- Result here -->
                        <h3 class="mb-3">
                            Result
                        </h3>
                        <img src="{% url 'demo:download' result %}" alt="Result" style="width: 100%"> 
                    </div>
                </div>
            </div>
            <script>
                $(".custom-file-input").on("change", function() {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                });

                Vue.component({
                    //
                });

                new Vue({
                    el: "#app",

                    data: {
                        image: ""
                    }
                });
            </script>
        </main>

    </div>
</body>
</html>
